web/BankService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. -->
<definitions targetNamespace="http://services.mlvBank.upem.com/" name="BankService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://services.mlvBank.upem.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://services.mlvBank.upem.com/" schemaLocation="BankService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="withdrawMoneyFrom">
    <part name="parameters" element="tns:withdrawMoneyFrom"/>
  </message>
  <message name="getAccountState">
    <part name="parameters" element="tns:getAccountState"/>
  </message>
  <message name="getAccountStateResponse">
    <part name="parameters" element="tns:getAccountStateResponse"/>
  </message>
  <message name="getAllCompte">
    <part name="parameters" element="tns:getAllCompte"/>
  </message>
  <message name="getAllCompteResponse">
    <part name="parameters" element="tns:getAllCompteResponse"/>
  </message>
  <message name="getCompteBy">
    <part name="parameters" element="tns:getCompteBy"/>
  </message>
  <message name="getCompteByResponse">
    <part name="parameters" element="tns:getCompteByResponse"/>
  </message>
  <message name="enableAccount">
    <part name="parameters" element="tns:enableAccount"/>
  </message>
  <message name="disbleAccount">
    <part name="parameters" element="tns:disbleAccount"/>
  </message>
  <message name="depositMoneyTo">
    <part name="parameters" element="tns:depositMoneyTo"/>
  </message>
  <message name="update">
    <part name="parameters" element="tns:update"/>
  </message>
  <message name="delete">
    <part name="parameters" element="tns:delete"/>
  </message>
  <message name="create">
    <part name="parameters" element="tns:create"/>
  </message>
  <portType name="BankService">
    <operation name="withdrawMoneyFrom">
      <input wsam:Action="http://services.mlvBank.upem.com/BankService/withdrawMoneyFrom" message="tns:withdrawMoneyFrom"/>
    </operation>
    <operation name="getAccountState">
      <input wsam:Action="http://services.mlvBank.upem.com/BankService/getAccountStateRequest" message="tns:getAccountState"/>
      <output wsam:Action="http://services.mlvBank.upem.com/BankService/getAccountStateResponse" message="tns:getAccountStateResponse"/>
    </operation>
    <operation name="getAllCompte">
      <input wsam:Action="http://services.mlvBank.upem.com/BankService/getAllCompteRequest" message="tns:getAllCompte"/>
      <output wsam:Action="http://services.mlvBank.upem.com/BankService/getAllCompteResponse" message="tns:getAllCompteResponse"/>
    </operation>
    <operation name="getCompteBy">
      <input wsam:Action="http://services.mlvBank.upem.com/BankService/getCompteByRequest" message="tns:getCompteBy"/>
      <output wsam:Action="http://services.mlvBank.upem.com/BankService/getCompteByResponse" message="tns:getCompteByResponse"/>
    </operation>
    <operation name="enableAccount">
      <input wsam:Action="http://services.mlvBank.upem.com/BankService/enableAccount" message="tns:enableAccount"/>
    </operation>
    <operation name="disbleAccount">
      <input wsam:Action="http://services.mlvBank.upem.com/BankService/disbleAccount" message="tns:disbleAccount"/>
    </operation>
    <operation name="depositMoneyTo">
      <input wsam:Action="http://services.mlvBank.upem.com/BankService/depositMoneyTo" message="tns:depositMoneyTo"/>
    </operation>
    <operation name="update">
      <input wsam:Action="http://services.mlvBank.upem.com/BankService/update" message="tns:update"/>
    </operation>
    <operation name="delete">
      <input wsam:Action="http://services.mlvBank.upem.com/BankService/delete" message="tns:delete"/>
    </operation>
    <operation name="create">
      <input wsam:Action="http://services.mlvBank.upem.com/BankService/create" message="tns:create"/>
    </operation>
  </portType>
  <binding name="BankServicePortBinding" type="tns:BankService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="withdrawMoneyFrom">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
    </operation>
    <operation name="getAccountState">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAllCompte">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getCompteBy">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="enableAccount">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
    </operation>
    <operation name="disbleAccount">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
    </operation>
    <operation name="depositMoneyTo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
    </operation>
    <operation name="update">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
    </operation>
    <operation name="delete">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
    </operation>
    <operation name="create">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
    </operation>
  </binding>
  <service name="BankService">
    <port name="BankServicePort" binding="tns:BankServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

