web/BankService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. -->
<definitions targetNamespace="http://services.mlvBank.upem.com/" name="BankService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://services.mlvBank.upem.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://services.mlvBank.upem.com/" schemaLocation="BankService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="WithdrawMoney">
    <part name="parameters" element="tns:WithdrawMoney"/>
  </message>
  <message name="WithdrawMoneyResponse">
    <part name="parameters" element="tns:WithdrawMoneyResponse"/>
  </message>
  <message name="AccountState">
    <part name="parameters" element="tns:AccountState"/>
  </message>
  <message name="AccountStateResponse">
    <part name="parameters" element="tns:AccountStateResponse"/>
  </message>
  <message name="DepositMoney">
    <part name="parameters" element="tns:DepositMoney"/>
  </message>
  <message name="DepositMoneyResponse">
    <part name="parameters" element="tns:DepositMoneyResponse"/>
  </message>
  <message name="OpenNewAccount">
    <part name="parameters" element="tns:OpenNewAccount"/>
  </message>
  <message name="OpenNewAccountResponse">
    <part name="parameters" element="tns:OpenNewAccountResponse"/>
  </message>
  <portType name="BankService">
    <operation name="WithdrawMoney">
      <input wsam:Action="http://services.mlvBank.upem.com/BankService/WithdrawMoneyRequest" message="tns:WithdrawMoney"/>
      <output wsam:Action="http://services.mlvBank.upem.com/BankService/WithdrawMoneyResponse" message="tns:WithdrawMoneyResponse"/>
    </operation>
    <operation name="AccountState">
      <input wsam:Action="http://services.mlvBank.upem.com/BankService/AccountStateRequest" message="tns:AccountState"/>
      <output wsam:Action="http://services.mlvBank.upem.com/BankService/AccountStateResponse" message="tns:AccountStateResponse"/>
    </operation>
    <operation name="DepositMoney">
      <input wsam:Action="http://services.mlvBank.upem.com/BankService/DepositMoneyRequest" message="tns:DepositMoney"/>
      <output wsam:Action="http://services.mlvBank.upem.com/BankService/DepositMoneyResponse" message="tns:DepositMoneyResponse"/>
    </operation>
    <operation name="OpenNewAccount">
      <input wsam:Action="http://services.mlvBank.upem.com/BankService/OpenNewAccountRequest" message="tns:OpenNewAccount"/>
      <output wsam:Action="http://services.mlvBank.upem.com/BankService/OpenNewAccountResponse" message="tns:OpenNewAccountResponse"/>
    </operation>
  </portType>
  <binding name="BankServicePortBinding" type="tns:BankService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="WithdrawMoney">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="AccountState">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="DepositMoney">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="OpenNewAccount">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="BankService">
    <port name="BankServicePort" binding="tns:BankServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

